# http://www.redhat.com/docs/manuals/enterprise/RHEL-4-Manual/gdb/readline-init-file.html

# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library.  Existing
# programs include FTP, Bash, and GDB.
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any systemwide bindings and variable
# assignments from /etc/Inputrc
$include /etc/inputrc

# This atleast allows bash bind to make keys do what I want
set bind-tty-special-chars Off

# I can not get these to work.  It is crazy.
# The whole reason I have this file is to switch backward-kill-work behavior
#Meta-Rubout: unix-word-rubout
#"\M-w": backward-kill-word 
