@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* https://support.mozilla.org/en-US/questions/1422908 */
@import url("chrome://messenger/content/unifiedtoolbar/unifiedToolbarWebextensions.css");

/* Position Menu Bar above Unified Toolbar */
#toolbar-menubar {
order: -1 !important;
}


/* copy this down there?*/
treechildren::-moz-tree-cell-text(newMessages-true) {color: black !important;}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=1682065 */
#folderTree treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
  margin-inline-start: unset !important; 
  padding-inline-start: unset !important;
  background-image: unset !important;
  background-repeat: unset !important;
  background-position: unset !important;
}

/* https://www.reddit.com/r/Thunderbird/comments/ju0hox/guide_how_to_revert_back_to_the_old_icons/ */
/* https://blog.mozilla.org/nnethercote/2015/11/05/moz-icon-a-curious-corner-of-firefox/ */
@-moz-document url-prefix("chrome://messenger/content/messenger.xhtml") {

    /* Make things a little less ridiculously spaced out */
    /* https://support.mozilla.org/en-US/questions/1307570?page=3 */
    /* row height in folder pane */
    #folderTree treechildren::-moz-tree-row {
        height: 8pt !important;
        margin-top: -1px !important;
        margin-bottom: -1px !important;
    }

    /* remove thin blue row line artifacts remaining after hover in folder pane */
    #folderTree treechildren::-moz-tree-row(hover),
    #folderTree treechildren::-moz-tree-row(selected){
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }


    /* thunderbird-68.1.0/comm/mail/themes/linux/mail */
    /* This Source Code Form is subject to the terms of the Mozilla Public
     * License, v. 2.0. If a copy of the MPL was not distributed with this
     * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

    /* ::::: Folder Pane ::::: */

    /* this needs a different rule from the tree because otherwise the margin
   applies to the tab */
    .tabmail-tab[type="folder"] {
        list-style-image: url("moz-icon://stock/gtk-directory?size=menu") !important;
    }

    treechildren::-moz-tree-image(folderNameCol) {
        list-style-image: url("moz-icon://stock/gtk-directory?size=menu") !important;
    }

    treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
        list-style-image: url("moz-icon://stock/gtk-directory?size=menu") !important;
    }

    /* ..... Inbox ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Inbox"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(64px 16px 80px 0px) !important;
    }

    /* ..... Sent ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Sent"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(144px 16px 160px 0px) !important;
    }

    /* ..... Outbox ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Outbox"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(96px 16px 112px 0px) !important;
    }

    /* ..... Drafts ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Drafts"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(48px 16px 64px 0px) !important;
    }

    /* ..... Templates ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Templates"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(160px 16px 176px 0px) !important;
    }

    /* ..... Junk ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Junk"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(80px 16px 96px 0px) !important;
    }

    /* ..... Trash ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Trash"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(176px 16px 192px 0px) !important;
    }

    /* ..... Archives ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Archive"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(192px 16px 208px 0px) !important;
    }

    /* ..... Saved Search Folder ..... */

    .tabmail-tab[type="folder"][SpecialFolder="Virtual"],
    treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(128px 16px 144px 0px) !important;
    }

    /* ..... Newsgroup ..... */

    .tabmail-tab[type="folder"][ServerType="nntp"],
    treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(208px 16px 224px 0px) !important;
    }

    /* ..... Feed folder, feed item ..... */

    treechildren::-moz-tree-image(folderNameCol, isFeed-true) {
        list-style-image: url("images/rss-feed.png") !important;
        -moz-image-region: rect(32px 16px 48px 0) !important;
    }
    .tabmail-tab[type="folder"][IsFeedFolder="true"],
    treechildren::-moz-tree-image(folderNameCol, isFeedFolder-true) {
        list-style-image: url("images/rss-feed-folder.png") !important;
        -moz-image-region: auto !important;
    }

    /* ..... Mail server  ..... */

    .tabmail-tab[type="folder"][IsServer="true"],
    treechildren::-moz-tree-image(folderNameCol, isServer-true) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(16px 16px 32px 0px) !important;
    }

    /* ..... Secure mail server ..... */

    .tabmail-tab[type="folder"][IsServer="true"][ServerType="imap"][IsSecure="true"],
    .tabmail-tab[type="folder"][IsServer="true"][ServerType="pop3"][IsSecure="true"],
    treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-pop3, isSecure-true),
    treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-imap, isSecure-true) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(16px 32px 32px 16px) !important;
    }

    /* ..... Local folders ..... */

    .tabmail-tab[type="folder"][IsServer="true"][ServerType="none"],
    treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
        list-style-image: url("images/folder-pane.png") !important;
        -moz-image-region: rect(0px 16px 16px 0px) !important;
    }

    /* ..... News server ..... */

    .tabmail-tab[type="folder"][IsServer="true"][ServerType="nntp"],
    treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
        list-style-image: url("images/server.png") !important;
        -moz-image-region: rect(0 64px 16px 48px) !important;
    }

    .tabmail-tab[type="folder"][IsServer="true"][ServerType="nntp"][IsSecure="true"],
    treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
        list-style-image: url("images/server.png") !important;
        -moz-image-region: rect(0 80px 16px 64px) !important;
    }

    /* ..... Feed server ..... */

    .tabmail-tab[type="folder"][IsServer="true"][ServerType="rss"],
    treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
        list-style-image: url("images/rss-feed.png");
        -moz-image-region: rect(0 16px 16px 0);
    }

}
